body
{
  margin: 0;
  min-height: 100vh;
  font-family: VarelaRound, sans-serif;
  background: rgb(139, 157, 89);
}

/* Image button */
.open-button
{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.open-button img
{
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 15px;
  transition: transform 0.25s ease;
}
.open-button:hover img
{
  transform: scale(1.05);
}

/* Popup */
.popup
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  transition: transform 200ms ease;
  border: 3px solid rgb(43, 43, 43);
  border-radius: 15px;
  background: white;
  width: 1000px;
  max-width: 80%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.popup.active { transform: translate(-50%, -50%) scale(1); }

.popup-header
{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(70, 70, 70);
  border-radius: 10px 10px 0 0;
  flex-shrink: 0;
}
.popup-header .title { font-size: 24px; font-weight: bold; color: white; }
.popup-header .close-button
{
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.popup-body { padding: 10px 15px; overflow-y: auto; }
.popup-body img { display: block; width: 100%; height: auto; margin-bottom: 15px; }
.popup-body img:last-child { margin-bottom: 0; }

/* Dark overlay */
#overlay
{
  position: fixed;
  inset: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active { opacity: 1; pointer-events: all; z-index: 10; }

/* Website design*/
header
{
  padding: 20px;
  text-align: center;
  font-size: 50px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center; 
}

nav
{
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
}

main
{
  padding: 20px;
  text-align: left;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
}

footer
{
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center; 
}
.box
{
  max-width: 1000px;
  margin: 50px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 250px auto;

}
header
{
  grid-row: 1 / 2 ;
  grid-column: 1 / 3;
}

nav
{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height: max-content;
}

main
{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  height: max-content;
}

footer
{
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}
